<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Mac.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>iOS.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>200B2E5B221847F000738347</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>200B2E69221847FC00738347</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>200B2E742218480800738347</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>200B2E832218481900738347</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>200B2E972218482E00738347</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
